main {
  background-color: #fff;
  overflow: hidden;
  width: 100%;

  .container {
    .process-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: column;
      position: relative;
      margin: 30px 0;

      .line {
        position: absolute;
        width: 72%;
        height: 6px;
        border-radius: 3px;
        top: 23px;
        right: 0;
        background-color: #b0864e;
      }

      .title {
        margin-right: auto;
      }

      .content {
        width: 100%;
        margin: 20px 0;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 20px;

        .right {
          align-self: start;
        }
      }
    }
  }
}