* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 15px;
}

body {
  background-color: #b28850;
}

header {
  width: 100%;
  height: 80px;
  display: flex;
  overflow: hidden;
  justify-content: center;
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
  align-items: center;
  background-color: #fff;
}

header img {
  transform: translate(-12px, 45%);
}

nav {
  width: 100%;
  padding: 20px 0;
  margin: 0 auto;
  overflow: hidden;
}

nav ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

nav a {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-size: 22px;
  transition: all .3s ease-in-out;
}

nav a:hover {
  color: #fff;
}

.banner {
  margin: 0 auto;
  max-width: 1320px;
  overflow: hidden;
  position: relative;
}

.banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner .absolute {
  position: absolute;
  top: 0;
  left: 50%;
  width: 15%;
  height: auto;
}

.banner .absolute:nth-child(2) {
  transform: translate(-200px, 75px);
}

.banner .absolute:nth-child(3) {
  width: 21%;
  transform: translate(-22px, 120px);
}

.banner .absolute:nth-child(4) {
  width: 13%;
  transform: translate(10px, 385px);
}

.banner .absolute:nth-child(5) {
  width: 21%;
  transform: translate(-200px, 460px);
}

.banner .absolute:nth-child(6) {
  width: 15%;
  transform: translate(-254px, 285px);
}

.banner .absolute:nth-child(7) {
  width: 15%;
  transform: translate(-175px, 345px);
}

.intro {
  padding: 40px 0;
  position: relative;
  width: 100vw;
  margin: 0 auto;
  background-color: #fff;
  overflow: hidden;
}

.intro .line {
  width: 1320px;
  margin: 0 auto;
  height: 3px;
  background-color: #b28850;
  margin-bottom: 30px;
}

.intro h2 {
  position: absolute;
  top: 5px;
  left: 30%;
  text-align: center;
  color: #000;
  background-color: #fff;
  padding: 15px 30px;
  margin-bottom: 30px;
}

.intro-content {
  display: flex;
  gap: 10px;
  align-items: flex-start;
  margin-top: 100px;
}

.intro-img {
  flex: 1;
  overflow: hidden;
}

.intro-img img {
  width: 90%;
}

.intro-text {
  flex: 1;
  line-height: 1.5;
  font-size: 30px;
  color: #000;
}

.activities {
  width: 100vw;
  background-color: #fff;
  color: #000;
  margin: 0 auto;
  overflow: hidden;
}

.activities .line {
  width: 1320px;
  margin: 0 auto;
  margin-top: 30px;
  height: 3px;
  background-color: #b28850;
  margin-bottom: 30px;
}

.activities .container {
  width: 1320px;
  position: relative;
  padding-top: 30px;
}

.activities .container h2 {
  position: absolute;
  top: -63px;
  left: 0%;
  background-color: #fff;
  padding: 15px 40px;
  text-align: center;
  margin-bottom: 30px;
}

.activities .container .activities-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-auto-columns: max-content;
  grid-auto-rows: max-content;
  gap: 20px;
}

.activities .container .activities-grid .activity-item {
  width: 100%;
}

.activities .container .activities-grid .activity-item img {
  width: 100%;
}

footer {
  padding: 40px 0;
  text-align: center;
  color: white;
}

footer p {
  margin-bottom: 10px;
}

footer p:last-child {
  margin-bottom: 0;
}
